* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  justify-content: center;
  background-image: url(./images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#alarmSection {
  background-color: aliceblue;
  margin: 20vh;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  box-shadow: 2px 10px 20px 10px rgb(38, 55, 66);
  cursor: pointer;
}

.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* #alarmSet {
  margin: 20px;
} */

h1 {
  text-align: center;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  /* color: #023047; */
  color: #003049;
  text-shadow: 1.8px 2px 2px rgb(33, 11, 11);
}

.alarm-set {
  width: 50vh;
  font-size: 1.2rem;
  color: #003049;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0.4rem;
  transition: 0.3s;
}

.alarm-set:focus{
    border: 2.5px solid rgb(163, 159, 159);
}

#alarmControl {
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  justify-content: space-around;
  align-items: center;
}

#set,
#pause,
#stop {
  padding: 0.6rem 1rem;
  background-color: rgb(6, 49, 90);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
  /* box-shadow: 8px 8px 20px rgb(15, 32, 24); */
  box-shadow: 2px 5px 10px 2px rgb(38, 55, 66);
  cursor: pointer;
}

#set:hover,
#pause:hover,
#stop:hover {
  background-color: aliceblue;
  border: none;
  border-radius: 0.5rem;
  transform: scale(1.1);
  color: rgb(6, 49, 90);
}
